@font-face {
    font-family: 'roadgeek';
    src: url('./assets/fonts/roadgeek-2005-mittelschrift-regular.ttf') format('truetype');
}

body {
    margin: 0px;
}

#background {
    background-color: rgb(36, 36, 36);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

#khanonjs {
    width: 100vw;
    height: 90vh;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

/*
#error-container {
    display: none;
    background-color: rgb(36, 36, 36);
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

#blackscreen-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
}

#gui-container {
    display: flex;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#fps-container {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    text-align: center;
    font-size: 16px;
    color: white;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 20px;
}
*/